<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>day42_servlet</display-name>
	
	<!-- servlet page 등록 1. web.xml 등록방법 -->
	 <servlet>
		<servlet-name>ServletDate</servlet-name>
		<servlet-class>conn.kosa.date.ServletDate</servlet-class>	<!-- 정확한 경로와 이름. 풀네임 입력해야한다 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDate</servlet-name>	<!-- servlet 파일의 이름. servlet-servlet-name 일치해야한다. -->
		<url-pattern>/com/edu</url-pattern>		<!-- url에 표시될 이름 -->
	</servlet-mapping> 
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
</web-app>